@import "../variable";

%normal-code {
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 4px;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: initial;

  &::selection {
    background: $secondary;
  }
}

.my-page-content {
  color: #222;

  a {
    @extend %effect-a;
  }

  p {
    margin-top: .7rem;
    margin-bottom: .7rem;

    > code {
      @extend %normal-code;
    }
  }

  blockquote {
    @extend %effect-blockquote;

    > code {
      @extend %normal-code;
    }
  }

  iframe {
    width: 100%;
    height: 450px;
  }

  ul, ol {
    padding-left: 1rem;
    list-style: inherit;
    li{
      padding-bottom: .4rem;

      > code {
        @extend %normal-code;
      }
    }
  }

  del {
    margin: 0 .1rem;
    color: transparent;
    text-decoration: none;
    background: $grey;
    transition: .3s;
    border-radius: .1rem;

    &:hover {
      color: inherit;
      background: inherit;
    }
  }

  @include mobile() {
    iframe {
      height: 250px;
    }
  }
}
