$symbol-height: 42px;

.side-tool-wrap {
  position: fixed;
  z-index: 1;
  bottom: 1.5rem;
  right: 1rem;
}

.side-tool-main{
  position: relative;
  border-radius: 50%;
  width: $symbol-height;
  height: $symbol-height;
  background-color: rgba(89, 89, 89, 80%);
  line-height: 3rem;
  text-align: center;
  margin: 0 auto;
  color: white;
  box-shadow: inset 0 0 10px #000;
  cursor: pointer;

  &__text {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 17px;
    line-height: $symbol-height;
  }

  @include mobile() {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 120%;
  }
}
